<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="dog2" class="com.wzj.pojo.Dog" />
    <bean id="dog1" class="com.wzj.pojo.Dog" />
    <bean id="cat2" class="com.wzj.pojo.Cat" />
    <bean id="cat1" class="com.wzj.pojo.Cat" />

<!--    手动装配-->
<!--    <bean id="user" class="com.wzj.pojo.User">-->
<!--        <property name="cat" ref="cat" />-->
<!--        <property name="dog" ref="dog" />-->
<!--        <property name="str" value="wzj" />-->
<!--    </bean>-->

<!--    自动装配byName-->
<!--    <bean id="user" class="com.wzj.pojo.User" autowire="byName">-->
<!--        <property name="str" value="wzj" />-->
<!--    </bean>-->

<!--    自动装配byType-->
<!--    <bean id="user" class="com.wzj.pojo.User" autowire="byType">-->
<!--        <property name="str" value="wzj" />-->
<!--    </bean>-->

<!--    注解实现自动装配-->
<!--    <bean id="user" class="com.wzj.pojo.User" />-->

    <context:component-scan base-package="com.wzj.pojo" />

</beans>